body {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.top {
    background-color: #1f2937;
    display: flex;
    }

.top2 {
    background-color: white;
    display: flex;
    }

.small {
    height: 150px;
    width: 150px;
    border-radius: 20px;
    border: 50px black;
    margin-bottom: 10px;
}

.contentblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 150px;
    color: gray;
}

.bigbox {
    flex: 3 1 500px;
    color: white;
    display: flex;
    flex-direction: column;
}

.boxdivision2 {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px 20px;
}

.bluebox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    background-color: #3882f6;
    padding: 30px 90px;
    border-radius: 10px;
    
}

.call {
    font-size: 24px;
    color: white;
}

.calls {
    font-size: 14px;
    color: white;
}


.sign2 a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.grey {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.contquote {
    margin-top: 100px;
}

.endquote {
    text-align: right;
    font-weight: 800;
    font-size: 20px;
    margin-right: 30px;
}

.top2 .bigbox {
    flex: 3 1 500px;
    color: black;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.content2 {
    display: flex;
    justify-content: space-around;
}

.header22 {
font-size: 36px;
text-align: center;
margin: 50px;
font-weight: bolder;
}

.filler {
flex: 1 1 100px;
}

.headerh {
    display: flex;
    flex-grow: 1;
    align-items: center;
    margin: 100px 0px;
    
}

.header {
    display: flex;
    padding-top: 14px;
}

.header .logo {
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 18px;
}

.link a,
.left2,
.left3 a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header2 {
    display: flex;
    flex-grow: 1;
    gap: 50px;
    }

.left {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    justify-content: center;
}

.rightimg {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;

}

.rightimg img {
    max-width:100%;
    
}


.left1 {
    font-size: 48px;
    font-weight: bolder;
}

.left3 {
    background-color: #3882f6;
    max-width: 100px;
    text-align: center;
    padding: 4px 0px;
    border-radius: 5px;
    margin-top: 5px;
}